*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    color:white;
}

.intro{
    width:100vw;
    height:100vh;
    display: flex;
    background: #03152D;
}

.intro-half{
    width:50vw;
    height:100%;
}

.img{
    width:100%; height:100%;
    background: url('./dna-genes.jpg');
    background-size: cover;
}

.text{
    margin:10%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.text h1{
    font-size:2.75rem;
    margin:0 0 2rem 0;
}

.intro-text {
    margin: 0 0 2rem 0;
}

button{
    width:50%;
    color: #03152D;
    background: #71E4ED;
    padding:1.125rem;
    border-radius: 10px;
    font-weight:700;
    transition: all 0.25s ease-out;
}

button:hover{
    cursor:pointer;
    transform: scale(1.02);
    background: #71e5edb7;
}

@media only screen and (max-width:900px){
    .intro{
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }
    
    .intro-half{
        width:100vw;
        height:60%;
    }
    
}